@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

/* font-family: 'Edu TAS Beginner', cursive;     // 400, 500, 600, 700
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;         // 3, 4 5, 7  */

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.lightmode{
  --home : rgba(0, 0, 0, 0.3);
  --white : white;
  --whitesmoke : whitesmoke;
  --texthead : black;
  --textpara : #333;
  --dig : rgba(0, 0, 0, 0.2);
  --teamshadow : rgba(0, 0, 0, 0.232);
  --destinationshadow : rgba(0, 0, 0, 0.232);
  --serviceshadow : rgba(0, 0, 0, 0.138);
  --color3 : #333;
  --color5 : #555;
  --heading : red;
  --headingh : gold;
}

.darkmode{
  --home : rgba(0, 0, 0, 0.6);
  --white : #19211e;
  --whitesmoke : #131917;
  --dig : rgba(0, 0, 0, 0.6);
  --teamshadow : rgba(255, 255, 255, 0.1);
  --destinationshadow : rgba(255, 255, 255, 0.108);
  --serviceshadow : rgba(255, 255, 255, 0.1);
  --color3 : #fff;
  --color5 : #888;
  --heading : white;
  --headingh : red;
}

























